<Files "*.pdf">
    Order Deny,Allow
    Deny from all

    # Verification si la requête vient de notre application
    SetEnvIf Referer "http://localhost:8080/" allow_access
    Order Deny,Allow
    Allow from env=allow_access

    # A la place "http://localhost:8080/" inserer nom de domaine de l'application
</Files>